.card{
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}

.image{
    background-color: #eaeaea;
    padding: 10px;
}
.text{
    color: rgb(46, 106, 158);
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .card{
        padding: 50px;
        font-size: 30px;
    }
    
    .image{
        padding: 25px;
    }

}